html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}
.btn {
    width: 75px;
    height: 60px;
    margin: 5px;
    text-align: center;
}
.interactable:hover {
    opacity: 0.8;
    transition: opacity 0.5s ease;
    cursor: pointer;
}
.table>tbody>tr>td {
    width: 50%;
    height: 50%;
    text-align: center;
    vertical-align: middle;
    border: none;
    color: white;
    font-size: larger;
    animation: slide-up .5s ease-out;
}

@keyframes slide-up {
    from {
        opacity: 0;
        line-height: 300%;
    }
    to {
        opacity: 1;
        line-height: 150%;
    }
}
