body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-weight: 300;
    background-color: #f2f1eb;
    color: #333333;
}
a {
    color: #8c1515;
}
a:hover {
    color: #ffd200;
}
h2 {
    font-weight: bold;
    padding: 10px;
}
h3 small {
/*    color: #ffffff;*/
}
hr {
    border: 0;
    height: 0.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
ul {
    list-style-type:circle;
}

.stanford {
/*    text-decoration: underline;*/
    -webkit-text-decoration-color: #8c1515;
    text-decoration-color: #8c1515;
}
.uci {
/*    text-decoration: underline;*/
    -webkit-text-decoration-color: #0064a4;
    text-decoration-color: #0064a4;
}
.stanford:before {
/*    content:"•";*/
    position: absolute;
    left:-10px;
    color:#8c1515;
}
.uci:before {
/*    content:"•";*/
    position: absolute;
    left:-10px;
    color:#0064a4;
}

.header {
    background-color: #8c1515;
    color: #f2f1eb;
    padding-bottom: 40px !important;
}
.header a {
    color: #ffd200;
}
.text-muted {
/*    color: #333333;*/
}
.row {
    padding: 20px;
    opacity: 0;
}
.profile {
    border-radius: 50%;
/*    box-shadow: 8px 8px 10px #5f574f;*/
}
.progress-bar {
    -webkit-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}
.well {
/*    box-shadow: 8px 8px 10px #5f574f;*/
}

.modal {
    text-align: center;
}
@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
